#!/usr/bin/env ruby

require 'compass'
Compass.add_project_configuration('compass_config.rb')

compile '/style/*/' do
  filter :sass, Compass.sass_engine_options
end

compile '*' do
  filter :haml
  layout 'default'
end

route '/style/_*/' do
  nil
end

route '/style/*/' do
  item.identifier.chop + '.css'
end

route '*' do
  item.identifier + 'index.html'
end


layout '*', :haml, :format => :html5