#!/usr/bin/env ruby

require 'compass'
Compass.add_project_configuration('compass_config.rb')

# compilation rules

compile '/stylesheets/*/' do
  filter :sass, Compass.sass_engine_options
end

compile '/javascripts/*/' do
  case item[:extension]
    when 'coffee'
      filter :coffee
    when 'js'
      # Nothing
  end
end

compile '/images/*/' do
end

# compile '/images/*/', :rep => :thumbnail do
#   filter :thumbnailize, :width => 200
# end

compile '*' do
  filter :haml
  layout 'default'
end


# route rules

route '/stylesheets/_*/' do
  nil
end

route '/stylesheets/*/' do
  item.identifier.chop + '.css'
end

route '/javascripts/*/' do
  item.identifier.chop + '.js'
end

route '/images/*/' do
  item.identifier.chop + '.' + item[:extension]
end

route '/images/*/', :rep => :thumbnail do
  item.identifier.chop + '-thumbnail.' + item[:extension]
end

route '/' do
  item.identifier + 'index.html'
end

route '*' do
  item.identifier.chop + '.html'
end

# layout
layout '*', :haml, :format => :html5